body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 250px;
    background: #333;
    padding: 20px;
    border-radius: 10px;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 22px;
    text-align: right;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;         
    background: #000000;   
}

.buttons button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.equal {
    background: orange;
    color: white;
}

.zero {
    width: 110px;
}
